<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Workshop Vue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="container" id="app">
        <div class="jumbotron">
            <h1 class="display-4">Hola</h1>
            <p class="lead">{{ message }}</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form name="task-form">
                    <div class="form-group">
                        <label class="label">Tarea</label>
                        <div class="input-group">

                            <input type="text" class="form-control" placeholder="Ingrese una Tarea" aria-label="Input a Task" aria-describedby="btnGroupAddon" v-model="newtask">
                            <div class="input-group-prepend">
                                <div class="btn btn-primary" id="btnGroupAddon" @click="addTask">Add</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <th width="70%">Tarea</th>
                        <th width="20%">Estatus</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                    <tr v-for="task in tasks" :key="task.id">
                        <td>{{ task.task }}</td>
                        <td>{{ (task.completed == 'si' ? "Hecha" : "Por Hacer") }}</td>
                        <td>
                            <button:button class="btn btn-info" v-if="task.completed == 'no'" @click="completeTask(task)">Hacer</button:button>
                            <button:button class="btn btn-warning" v-else @click="completeTask(task)">Deshacer</button:button>
                        </td>
                        <td>
                            <button:button class="btn btn-danger" v-if="task.completed == 'no'" @click="deleteTask(task)">Eliminar</button:button>
                            <button:button class="btn btn-danger disabled" v-else>Eliminar</button:button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <pre>{{ $data }}</pre>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>